    <div class="main-div">
        <mat-card *ngIf="selectedTodoList">
            <mat-card-header>
                <div class="header-content">
                    <mat-card-title>{{selectedTodoList.title}}</mat-card-title>
                    <mat-card-subtitle>Created on: {{dateString}}</mat-card-subtitle>
                </div>
                <div class="header-icons">
                    <mat-icon *ngIf="selectedTodoList.public_list" mat-icon-button matTooltip="Public List">public</mat-icon>            
                    <div *ngIf="currentUserInfo">
                        <mat-icon *ngIf="currentUserInfo.id == selectedTodoList.created_by" 
                                mat-icon-button 
                                matTooltip="Your Todo List" 
                                class="material-symbols-outlined">
                            person
                        </mat-icon>
                        <mat-icon *ngIf="selectedTodoList.created_by == currentUserInfo.id" 
                                (click)="ShowItemCreator()" 
                                class="material-symbols-outlined" 
                                mat-icon-button 
                                matTooltip="Create new item">
                            add_circle
                        </mat-icon>
                        <mat-icon *ngIf="selectedTodoList.created_by == currentUserInfo.id"
                                (click)="DeleteList()"
                                class="material-symbols-outlined"
                                mat-icon-button
                                matTooltip="Delete todo list">
                            delete
                        </mat-icon>
                        <mat-icon *ngIf="selectedTodoList.created_by == currentUserInfo.id"
                                (click)="ShareItem()"
                                class="material-symbols-outlined"
                                mat-icon-button
                                matTooltip="Share todo list">
                            person_add
                        </mat-icon>
                        <div *ngFor="let sharedUser of selectedTodoList.shared_with">
                            <mat-icon *ngIf="currentUserInfo.email == sharedUser.email" 
                                    (click)="ShowItemCreator()" 
                                    class="material-symbols-outlined" 
                                    mat-icon-button 
                                    matTooltip="Create new item">
                                add_circle
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <div *ngFor="let item of selectedTodoList.list_items">
                        <mat-list-item class="todo-item">
                            @if(ListSharedWithUser() || currentUserInfo && selectedTodoList.created_by == currentUserInfo.id){
                                <mat-checkbox *ngIf="!item.completed" checked="false" class="item-content" (click)="UpdateItem(item)"></mat-checkbox>
                                <mat-checkbox *ngIf="item.completed" checked="true" class="item-content" (click)="UpdateItem(item)"></mat-checkbox>
                            }
                            {{item.task}}
                            @if(item.due_date){
                                | Due Date: {{item.due_date.substring(0, 10)}}
                            }
                            @if(currentUserInfo && (selectedTodoList.created_by == currentUserInfo.id)){
                                <button class="item-icons" (click)="DeleteItem(item)" mat-raised-button color="primary">Delete</button>
                            }
                            @if(ListSharedWithUser()){
                                <button class="item-icons" (click)="DeleteItem(item)" mat-raised-button color="primary">Delete</button>
                            }
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
<div *ngIf="selectedTodoList == null"  class="main-div">Click a todo list to show its details!</div>