<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <mat-tab-group>
        <mat-tab label="Public Lists">
            <mat-list role="list">
              <mat-list-item *ngFor="let todoList of todoArray" role="listitem">
                <button mat-button (click)="showTodoList(todoList.id)">{{todoList.title}}</button>
              </mat-list-item>
              </mat-list>              
        </mat-tab>
        <mat-tab label="My Lists">
            <mat-list role="list">
                <mat-list-item *ngIf="userInfo" role="listitem">Item 1</mat-list-item>
              </mat-list>              
        </mat-tab>
        <mat-tab label="Shared With Me">
            <mat-list role="list">
              @if (userInfo){
                <mat-list-item role="listitem">Item 1</mat-list-item>
              }
              </mat-list>              
        </mat-tab>
      </mat-tab-group>
    </mat-drawer>
  
    <div>
      <app-todolist></app-todolist>
    </div>
  
</mat-drawer-container>