<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <mat-tab-group>
        <mat-tab label="Public Lists">
            <mat-list role="list">
              <div *ngFor="let todoList of todoArray">
                <mat-list-item *ngIf="todoList.public_list" role="listitem">
                  <button mat-button (click)="showTodoList(todoList.id)">{{todoList.title}}</button>
                </mat-list-item>
              </div>
            </mat-list>              
        </mat-tab>
        <mat-tab label="My Lists">
            <mat-list *ngIf="userInfo" role="list">
              <div *ngFor="let todoList of todoArray">
                <mat-list-item *ngIf="todoList.created_by == userInfo.id" role="listitem">
                  <button mat-button (click)="showTodoList(todoList.id)">{{todoList.title}}</button>
                </mat-list-item>
              </div>
            </mat-list>              
        </mat-tab>
        <mat-tab label="Shared With Me">
          <mat-list *ngIf="userInfo && todoService.todoSharedWMe && todoService.todoSharedWMe.length != 0" role="list">
            <div *ngFor="let todoList of todoService.todoSharedWMe">
              <mat-list-item role="listitem">
                <button mat-button (click)="showTodoList(todoList.id)">{{todoList.title}}</button>
              </mat-list-item>
            </div>
          </mat-list>              
        </mat-tab>
      </mat-tab-group>
    </mat-drawer>
  
    <div>
      <app-todolist></app-todolist>
    </div>
  
</mat-drawer-container>